.container-header{
  background-color: none;
  position: fixed;
  width: 100%;

}

.container-header-vertical{
  background-color: black;
  border-radius: 0.5em;
  max-width: 80px;
  height: 400px;
  position: fixed;
  transition: all0.5s ease;
  left: 80%;
  z-index: 10;
}

.nav-header{
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.nav-header-vertical{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  padding: 2em;
  transition: all 0.5s ease;
}

.link-header{
  color: white;
  transition: all 0.3s;
  display: flex;
  gap: 2em;
}

.link-header:hover{
  color:#c90002;
}

.span-none{
  display: none;
}

@media screen and (max-width: 850px) {
   
  .container-header-vertical{
    left: 85%;
    transform: translateY(50%);
  }
  .nav-header{
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
  .icon-header{
    display: none;
  }

  .link-header{
    gap: 0.5em;
  }
}