<header class="container-header" data-header="container">
  <nav class="nav-header container-w" data-header="nav">
    <div class="container-profile">
      <a class="link-header" href="/"><span data-header="span">Perfil</span> <i class="fa-solid fa-user icon-header" data-header="icon"></i></a>
    </div>
    <div class="container-skills">
      <a class="link-header" href="/profile"><span data-header="span">Conhecimentos</span><i class="fa-solid fa-brain icon-header" data-header="icon"></i></a>
    </div>
    <div class="container-projects">
      <a class="link-header" href="/"><span data-header="span">Projetos</span> <i class="fa-solid fa-diagram-project icon-header" data-header="icon"></i></a>
    </div>
    <div class="container-about">
      <a class="link-header" href="/"><span data-header="span">Sobre</span> <i class="fa-solid fa-circle-exclamation icon-header" data-header="icon"></i></a>
    </div>
  </nav>
</header>