.container-Front-End {
  color: white;
  min-height: 600px;
}

.container-Back-End {
  color: white;
  min-height: 600px;
}

.title-skills{
  text-align:center;
  padding:50px;
}
.nav-skills{
  margin-bottom:40px;
}
.center-h{
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.btn{
  cursor:pointer;
}

.btn.active{
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}


.container-front, .container-back{
  margin-top: 50px;
  width: 100%;
}

.list-skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.skill_name{
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border: 1px solid white;
  border-radius: 0.5em;
  cursor: pointer;
  animation: changeGradient .5s ease alternate; 
}

.skill_name:hover{
  background-color: black;
  transition: all 0.2s;
  transform: scale(1.02);
  box-shadow: 1px 1px 15px black;
  color: #c90002;
}

.skill_name > i{
  font-size: 48px;
}

.skill_name > span{
  width: 100px;
  font-size: 20px;
}

@keyframes changeGradient {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}






@media screen and (max-width: 800px) {
  .skill_name{
    width: calc(100%/3);
  }
}

@media screen and (max-width: 650px) {
  .skill_name{
    width: 80%;
    justify-content: space-evenly;
  }
}