<section class="container_profile">

<div class="profile center-h container-w">
  <img class="img-profile" src="../../../../../assets/images/profile1.svg" alt="Foto de Thyago Araujo" width="150px" height="150px">
  <div class="container-profile"> 
    <h1>THIAGO ARAUJO DA SILVA</h1>
    <h3>Desenvolvedor | Estudante | Ciência da Computação</h3>
    <p class="container-about">Freelancer e Estudante de Ciência da Computação apaixonado pelo vasto universo da programação e pelo desenvolvimento de software, especialmente focado na área da web. Com entusiasmo tanto pelo front-end quanto pelo back-end, estou constantemente explorando novas tecnologias e tendências para criar soluções inovadoras e funcionais. Minha paixão pela programação vai além do código; busco compreender as necessidades dos usuários e traduzi-las em projetos intuitivos e eficientes.
  </div>
</div>

<aside class="container-w container-nav">
  <nav>
    <ul class="center-h">
      <a class="btn btn_cv" href="../../../../../assets/pdf/Curriculo.pdf" target="_blank"><li>Download Cv</li><i class="fa-solid fa-file"></i></a>
      <a class="btn btn_linkedin" href="https://www.linkedin.com/in/thiago-araujo-da-silva/" target="_blank"><li>LinkedIn</li> <i class="fa-brands fa-linkedin icon-footer"></i></a>
    </ul>
  </nav>

  <div class="container_contact center-h">
    <a class="container_whatsapp center-h i" href="https://api.whatsapp.com/send?phone=5575991972803&text=Ol%C3%A1%20Dener,%20preciso%20de%20um%20job!"
    target="_blank">
      <i class="fa-brands fa-whatsapp icon-contact"></i>
      <div>
          <strong>Envie uma mensagem: </strong>
          <p class="p-contact">(75) 99197-2803</p>
      </div>
    </a>
    <a class="container_email center-h i"  href="mailto:thiagogg020676&#64;gmail.com"
    target="_blank">
      <i class="fa-regular fa-envelope icon-contact"></i>
      <div>
          <strong>Envie uma Email: </strong>
          <p class="p-contact">thiagogg020676&#64;gmail.com</p>
      </div>
    </a>
  </div>

</aside>

</section>